{{#member}}
<table class="table">
    <thead>
    <tr>
        <th scope="row">id</th>
        <td colspan="2">이메일</td>
        <td>비밀번호</td>
    </tr>

    </thead>
    <tbody>


        <tr>
            <th scope="col">{{id}}</th>
            <th scope="col">{{email}}</th>
            <th scope="col">{{password}}</th>
        </tr>

    </tbody>
</table>
<a href="/members/{{id}}/edit">Edit</a>
{{/member}}

